body{
  color: white;
  opacity: .8;
  text-shadow: 2px 2px 4px rgba(0,0,0,.5);
  font-family: sans-serif;
  margin: 20px;
  text-align: center;
  background-image: url("https://i.pinimg.com/originals/cd/e0/20/cde02007f55e0e63ff230909d35325d8.jpg");
  width: 100%

}


a:link, a:visited {
  background-color: #990000;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px;
}

a:hover, a:active {
  background-color: black;
}

@import url('https://fonts.googleapis.com/css?family=Poppins');
body, html{
  margin: 0;
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("https://cdna.artstation.com/p/assets/images/images/005/805/184/large/diana-malysh-ieuq5gdetc.jpg?1493894206");
  font-family: 'Poppins', sans-serif;
}
h1{
  text-align: center;
  font-size: 50px;
  color: white;
  opacity: 4;
  text-shadow: 2px 2px 4px rgba(0,0,0,.5);
}
.container-all{
  width: fit-content;
  margin: 20px auto;
  height: auto;
}
.container{
  width: calc(33% - 6px);
  overflow:hidden;
  height: fit-content;
  margin:5px;
  padding: 0;
  display:block;
  position:relative;
  float:left;
}
img{
  width: 100%;
  transition-duration: .3s;
  max-width: 100%;
  display:block;
  overflow:hidden;
  cursor:pointer;
}
.title{
  position:absolute;
  display:block;
  cursor:pointer;
  top: 35%;
  display: none;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.6em;
  text-shadow: 1px 5px 10px black;
  transition-duration: .3s;
}
.text{
  position:absolute;
  top: 70%;
  cursor:pointer;
  max-width: 80%;
  text-align:center;
  left: 50%;
  text-shadow: 1px 5px 10px black;
  font-size: 1em;
  display:none;
  margin-right: -50%;
  transition-duration: .3s;
  transform: translate(-50%, -50%)
}
.container:hover img{
  transform: scale(1.2);
  transition-duration: .3s;
  filter: grayscale(50%);
  opacity: .7;
}
.container:hover span{
  color:white;
  display: block;
  transition-duration: .3s;
}
@media only screen and (max-width: 900px) {
    .container {
        width: calc(50% - 6px);
    }
}
@media only screen and (max-width: 400px) {
    .container {
        width: 100%;
    }
}

footer{
  margin-top: 200px,
  margin-bottom: 200px;
  font-weight: bold;
}
